# import

In [25]:
import pandas as pd
import numpy as np
import glob

## data

In [39]:
columns_list = ["平均気圧","海面平均気圧","合計降水量","1時間最大降水量","10分最大降水量","平均気温","最高気温","最低気温","平均湿度","最小湿度","平均風速","最大風速","最大風速風向き","最大瞬間風速","最大瞬間風速風向き","日照時間","年","月","合計降雪量","最深積雪"]
selected_columns = [
    "年",
    "月",
    "平均気温",
    "最高気温",
    "最低気温",
    "合計降水量",
    "1時間最大降水量",
    "合計降雪量",
    "最深積雪",
    "日照時間",
    "place"
]

In [ ]:
import pandas as pd
import glob
import os

base_path = r"C:\Users\chaki\Desktop\気象データ\24data\use"
all_dfs = []

# use 配下のフォルダを取得
for folder in glob.glob(f"{base_path}/*"):

    # フォルダ名（地名）を抽出
    place = os.path.basename(folder)

    # 各フォルダ内のCSVを読み込み
    for file in glob.glob(f"{folder}/*.csv"):
        df = pd.read_csv(file,names = columns_list)

        # 地名列の追加
        df["place"] = place

        all_dfs.append(df)

# 全データ結合
result = pd.concat(all_dfs, ignore_index=True)
df0 = result[selected_columns].copy()

In [88]:
import pandas as pd
import glob
import os

base_path = r"C:\Users\chaki\Desktop\気象データ\24data\use"
all_dfs = []

# use 配下のフォルダを取得
for folder in glob.glob(f"{base_path}/*"):

    # フォルダ名（地名）を抽出
    place = os.path.basename(folder)

    # 各フォルダ内のCSVを読み込み
    for file in glob.glob(f"{folder}/*.csv"):
        df = pd.read_csv(file,names = columns_list)

        # 地名列の追加
        df["place"] = place

        all_dfs.append(df)

# 全データ結合
result = pd.concat(all_dfs, ignore_index=True)
df0 = result[selected_columns].copy()

In [89]:
df0 = df0.rename(columns={
    "年": "year",
    "月": "month",
    "平均気温": "ave_temp",
    "最高気温": "max_temp",
    "最低気温": "min_temp",
    "合計降水量": "total_precip",
    "1時間最大降水量": "max_hourly_precip",
    "合計降雪量": "total_snowfall",
    "最深積雪": "max_snow_depth",
    "日照時間": "sunshine_hours",
})
df0 = df0[~df0["year"].isin([2023, 2024])]

In [95]:
df0["min_temp"] = df0["min_temp"].astype(str).str.replace(r"[\)\]]", "", regex=True)
df0["min_temp"] = df0["min_temp"].str.extract(r"(\d+\.\d+)$")[0].astype(float)

df0["max_temp"] = df0["max_temp"].astype(str).str.replace(r"[\)\]]", "", regex=True)
df0["max_temp"] = df0["max_temp"].str.extract(r"(\d+\.\d+)$")[0].astype(float)

df0["ave_temp"] = df0["ave_temp"].astype(str).str.replace(r"[\)\]]", "", regex=True)
df0["ave_temp"] = df0["ave_temp"].str.extract(r"(\d+\.\d+)$")[0].astype(float)

In [146]:
import pandas as pd
import glob
import os

columns = ["year", "month", "day", "time", "0", "1", "rain", "temp",
    "2", "3", "4", "5", "6", "7", "8", "9", "10", "11"]
columns1 = ["year", "month", "day", "time","rain", "temp","place"]
base_path = r"C:\Users\chaki\Desktop\気象データ\1時間ごと"
all_dfs = []

for folder in glob.glob(f"{base_path}/*"):
    place = os.path.basename(folder)

    if place in place_list:
        for file in glob.glob(f"{folder}/*.csv"):
            DF = pd.read_csv(file,names = columns)
            DF["place"] = place
            all_dfs.append(DF)

result = pd.concat(all_dfs, ignore_index=True)
df1 = result[columns1].copy()

## 気温調整

In [165]:
import pandas as pd

# df1 が元のデータフレームだとする

# 年と月で条件を指定して絞り込み
df1_filtered = df1[
    (df1['year'] >= 2010) & (df1['year'] <= 2022) &
    (df1['month'].isin([11, 12, 1, 2, 3]))
]

# 場所ごと・日ごとの最高・平均・最低気温を計算して df11 に代入
daily_stats = df1_filtered.groupby(['place', 'year', 'month', 'day'])['temp'].agg(
    max_temp='max',
    mean_temp='mean',
    min_temp='min'
).reset_index()

# 平均気温を小数点2桁に丸める（任意）
daily_stats['mean_temp'] = daily_stats['mean_temp'].round(2)

In [163]:
df100 = df0.copy()
df100['place100'] = daily_stats['place']
df100['min_temp'] = daily_stats['min_temp']
df100['max_temp'] = daily_stats['max_temp']
df100['ave_temp'] = daily_stats['mean_temp']

# 指標計算

In [178]:
place_list = list(set(df100['place']))
df = df100[df100['place'] == place_list[1]].reset_index(drop = True)

In [186]:
df = df100[df100['place'] == place_list[0]].reset_index(drop = True)
df

,year,month,ave_temp,max_temp,min_temp,total_precip,max_hourly_precip,total_snowfall,max_snow_depth,sunshine_hours,place,place100
0,2010,11,NaN,NaN,NaN,14.5,3.5,--,--,0.0,釧路,NaN
1,2010,11,NaN,NaN,NaN,2.5,1.5,--,--,2.7,釧路,NaN
2,2010,11,NaN,NaN,NaN,0.0,0.0,--,--,3.8,釧路,NaN
3,2010,11,NaN,NaN,NaN,0.0,0.0,--,--,5.4,釧路,NaN
4,2010,11,NaN,NaN,NaN,--,--,-- ),--,4.9,釧路,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1871,2022,12,NaN,NaN,NaN,--,--,--,7,8.0,釧路,NaN
1872,2022,12,NaN,NaN,NaN,0.0,0.0,1,8,6.6,釧路,NaN
1873,2022,12,NaN,NaN,NaN,--,--,--,8,7.0,釧路,NaN
1874,2022,12,NaN,NaN,NaN,--,--,--,8,8.2,釧路,NaN
1875,2022,12,NaN,NaN,NaN,--,--,--,8,8.6,釧路,NaN

In [187]:
df100['place100'].value_counts()

place100
函館    1876
稚内    1818
網走    1631
室蘭    1573
小樽    1573
帯広    1573
札幌    1573
旭川    1573
留萌    1573
釧路    1573
Name: count, dtype: int64

In [167]:
mesure = []

## 累積気温日較差 $\sum(\text{最高気温} - \text{最低気温})$

In [168]:
def cumulative_temp_range(df):      
    n = 0
    for i,j in zip(df['max_temp'],df['min_temp']):
        n += (i-j)
    return n

## 簡易・凍結融解回数 $\text{最低気温} < 0$ かつ $\text{最高気温} > 0$ の日数

In [169]:
def freeze_thaw_count(df):
    count = df[(df['min_temp'] <= 0) & (df['max_temp'] >= 0)].shape[0]
    return count

## 積算寒度 $\sum(0 - \text{平均気温})$

In [172]:
n = 0
for i in df['ave_temp']:
    if i < 0:
        n += i
        print(i)
print(n)

0

In [174]:
df

,year,month,ave_temp,max_temp,min_temp,total_precip,max_hourly_precip,total_snowfall,max_snow_depth,sunshine_hours,place,place100
0,2010,11,NaN,NaN,NaN,14.5,3.5,--,--,0.0,釧路,NaN
1,2010,11,NaN,NaN,NaN,2.5,1.5,--,--,2.7,釧路,NaN
2,2010,11,NaN,NaN,NaN,0.0,0.0,--,--,3.8,釧路,NaN
3,2010,11,NaN,NaN,NaN,0.0,0.0,--,--,5.4,釧路,NaN
4,2010,11,NaN,NaN,NaN,--,--,-- ),--,4.9,釧路,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1871,2022,12,NaN,NaN,NaN,--,--,--,7,8.0,釧路,NaN
1872,2022,12,NaN,NaN,NaN,0.0,0.0,1,8,6.6,釧路,NaN
1873,2022,12,NaN,NaN,NaN,--,--,--,8,7.0,釧路,NaN
1874,2022,12,NaN,NaN,NaN,--,--,--,8,8.2,釧路,NaN
1875,2022,12,NaN,NaN,NaN,--,--,--,8,8.6,釧路,NaN

In [173]:
df['avg_temp'][0]

KeyError: 'avg_temp'

In [142]:
print(df1.head())

   year  month  day  time  rain  temp
0  2010     11    1     0   0.0  12.2
1  2010     11    1     1   0.0  11.8
2  2010     11    1     2   0.0  11.7
3  2010     11    1     3   0.0  11.5
4  2010     11    1     4   0.0  12.0

In [188]:
df0

,year,month,ave_temp,max_temp,min_temp,total_precip,max_hourly_precip,total_snowfall,max_snow_depth,sunshine_hours,place
0,2010,11,11.0,12.4,9.1,8.5,2.5,--,--,0.0,函館
1,2010,11,9.7,14.6,4.9,4.5,1.5,--,--,4.2,函館
2,2010,11,5.9,7.7,4.0,7.5,2.5,--,--,0.0,函館
3,2010,11,7.7,12.7,4.4,0.0,0.0,--,--,5.2,函館
4,2010,11,8.8,11.2,6.0,0.5,0.5,--,--,1.4,函館
...,...,...,...,...,...,...,...,...,...,...,...
21482,2022,12,1.0,3.9,2.3,--,--,--,7,8.0,釧路
21483,2022,12,1.2,2.3,5.6,0.0,0.0,1,8,6.6,釧路
21484,2022,12,2.0,1.7,4.5,--,--,--,8,7.0,釧路
21485,2022,12,3.1,1.0,7.0,--,--,--,8,8.2,釧路
21486,2022,12,4.1,0.9,9.9,--,--,--,8,8.6,釧路